---
import MainButton from "../mainButton/MainButton.astro";

---

<div class="schedule-container">
    <h1 class="title">Atendemos <span class="date-text">24/7</span></h1>
    <div class="shedule-description">
        Contamos con una atención diaria las 24 horas del día, puedes contactarnos
        a tráves de los canales que se encuentrar en nuestra sección de contactato 
        o por el siguiente boton.
    </div>
    <div class="button-container">
        <MainButton title="Contáctanos"/>
    </div>
</div>

<style>
    .schedule-container {
        height: 368px;
        width: 100%;
        background-color: #255D8F;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .title {
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin: 0px;
    }
    .date-text {
        color: #FEC704;
    }

    .shedule-description {
        width: 1003px;
        color: #fff;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        font-weight: 400;
        text-align: center;
    }

    @media only screen and (max-width: 1280px) {  
        .schedule-container {
            height: 313px;
        }

        .title {
            font-size: 52px;
            line-height: 63px;
        }

        .shedule-description {
            font-size: 22px;
            line-height: 27px;
            width: 728px;
        }
    }

    @media only screen and (max-width: 800px) {  
        .shedule-description {
            font-size: 22px;
            line-height: 27px;
            width: 90%;
        }
    }

    
    @media only screen and (max-width: 500px) {
        .schedule-container {
            height: 154px;
        }
        .title {
            font-size: 24px;
            line-height: 29px;
        }
        .shedule-description {
            font-size: 12px;
            line-height: 19px;
            width: 95%
        }
     } 
</style>