<div class="main-banner">
    <div class="content">
        <p class="sentence">!COMPROMETIDOS CON EL MEDIO AMBIENTE!</p>
        <h1 class="title">Transporte MOTORSURE</h1>
        <h2 class="subtitle">Transporte de Residuos Sólidos Peligrosos</h2>
    </div>

</div>


<style>
    .main-banner {
        background-color: #255D8F;
        width: 100%;
        height: 940px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .content {
        width: 85%;
        margin: 0 auto;
        color: #fff;
    }

    .sentence {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin: 0;
    }
    .title {
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        margin: 15px 0px;
    }

    .subtitle {
        font-size: 39px;
        font-weight: 300;
        line-height: 47px;
        margin: 0;
    }
</style>