<div class="burguer-button-container" id="button-burguer">
    <img 
        src="https://icongr.am/clarity/bars.svg?size=128&color=ffffff"
        alt="icono de boton menu motorsure"
        class="button-icon"
    >
</div>

<style>
    .burguer-button-container {
        display: none;
    }

    @media only screen and (max-width: 800px) {
        .burguer-button-container {
            display: flex;
            position: fixed;
            border: thin solid #fff;
            border-left: #255D8F;
            background-color: #255D8F;
            z-index: 10;
            top: 50px;
            height: 55px;
            padding-right: 2px;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 500px) {
        .burguer-button-container{
            display: flex;
            position: fixed;
            border: thin solid #fff;
            border-left: #255D8F;
            background-color: #255D8F;
            z-index: 10;
            top: 10px;
            height: 35px;
            padding-right: 2px;
        }
    
    }
</style>