---
export interface Props {
    title: string;
};

const { title } = Astro.props;
---
<a href="tel:947609185">
    <button class="main-button">
        {title.toUpperCase()}
    </button>
</a>

<style>
    .main-button {
        background-color: #9FC5E8;
        color: #fff;
        text-align: center;
        width: 251px;
        height: 61px;
        border: none;
        border-radius: 9px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }   
    
    @media only screen and (max-width: 1280px) {
        
        .main-button {
            width: 174px;
            height: 51px;
            border-radius: 9px;
            font-size: 16px;
        }  
    
    }

    @media only screen and (max-width: 500px) {
        .main-button {
            width: 91px;
            height: 27px;
            border-radius: 9px;
            font-size: 8px;
        }  
    }
    
</style>