<a href="#home">
    <div class="rowup-container" style="display: none;">
        <img 
            src="https://icongr.am/fontawesome/angle-up.svg?size=128&color=ffffff"
            alt="rowup"
        >
    </div>
</a>

<style>
    .rowup-container {    
        position: fixed;
        z-index: 50;
        background-color: #9FC5E8;
        bottom: 40px;
        height: 87px;
        width: 87px;
        right: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rowup-container img {
        width: 80%;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 1040px) {
        .rowup-container {
            height: 65px;
            width: 65px;
        }
    }

    @media only screen and (max-width: 1040px) {
        .rowup-container {
            height: 46px;
            width: 46px;
        }
    }
</style>