<div class="phone-button-container">
    <img 
        src="https://icongr.am/fontawesome/phone.svg?size=128&color=9fc5e8"
        alt="phone icon"
    >
</div>

<style>
    .phone-button-container {
        box-shadow: 10px 5px 5px black;
        position: fixed;
        left: 70px;
        bottom: 80px;
        width: 94px;
        height: 94px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50%;    
        z-index: 100;
        cursor: pointer;
    }

    .phone-button-container img {
        height: 80%;
        width: 80%;
    }

    @media only screen and (max-width: 800px) {
        .phone-button-container {
            width: 72px;
            height: 72px;
            left: 30px;
            bottom: 50px;
        }
    }
</style>