<div class="footer">
    <p class="footer-text">
        Derechos Reservados© 2022 Motorsure
    </p>
</div>

<style>
    .footer {
        width: 100%;
        height: 62px;
        background: #255D8F;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .footer-text {
        font-size: 24px;
        color: #fff;
        font-weight: 400;
        left: 29px;
        margin: 0;
    }

    @media only screen and (max-width: 1280px) {
        .footer-text {
            font-size: 20px;
        }
    }

    @media only screen and (max-width: 500px) {
        .footer-text {
            font-size: 12px;
        }
    }
</style>