<div class="permissions-container">
    <div class="content-container">
        <h1 class="title">Permisos</h1>
        <p class="subtitle">
            En Transporte Motorsure contamos con los registros, 
            permisos y autorizaciones para realizar nuestros servicios
        </p>
        <div class="permissions-list-container">
            <ul class="permissions-list">
                <li class="permission-item">
                    Registro Autoritativo de empresa Operadora de Residuos Sólidos – EO-RS
                </li>
                <li class="permission-item">
                    Permiso de Operación Especial para el Servicio de Transporte Terrestre de Materiales y/o Residuos Peligrosos, otorgado por el Ministerio de Transporte y Comunicaciones.
                </li>
                <li class="permission-item">
                    Autorización de Operador de Transporte de Residuos Sólidos de la Industria Peligrosos, otorgada por la Municipalidad Metropolitana de Lima.
                </li>
                <li class="permission-item">
                    Autorización de Servicio para el Transporte de Carga y/o Mercancías en Lima y provincias.
                </li>
                <li class="permission-item">
                    Certificado de Inspección Técnica de Seguridad en Edificaciones Básica: N° 672- 2915, otorgado por la Municipalidad Distrital de Villa el Salvador.
                </li>
                <li class="permission-item">
                    Aprobación del Plan de Contingencia para el Transporte Terrestre de Materiales y/o Residuos Peligrosos, otorgado por el Ministerio de Transporte y Comunicaciones.
                </li>
                <li class="permission-item">
                    Licencia  Municipal de Apertura para Establecimientos Comerciales, Industriales y de Servicios de nuestra Planta de Operaciones en Villa el Salvador.
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .permissions-container {
        height: 695px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .title {
        text-align: center;
        font-size: 60px;
        line-height: 73px;
        font-weight: 700;
        margin: 0;

    }
    .subtitle {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        text-align: center;
        width: 963px;
        margin: 0;
        color: #908E8E;
    }
    .permissions-list-container {
        width: 1130px;
        height: fit-content;
    }
    
    .permissions-list {
        width: 100%;
        height: fit-content;
        padding: 0;
        list-style: disc;
        margin: 0;
    }

    .permission-item {
        text-align: justify;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: #908E8E;
        margin-top: 8px;
    }

    @media only screen and (max-width: 1024px) {
        .title {
            font-size: 53px;
            line-height: 61px;
        }

        .subtitle {
            font-size: 22px;
            line-height: 27px;
        }

        .permissions-list-container {
            width: 848px;
        }

        .permission-item { 
            font-size: 22px;
            line-height: 27px;
        }
    }

    
    @media only screen and (max-width: 1024px) {
        .permissions-container {
            height: 550px;
        }
        .title {
            font-size: 24px;
            line-height: 29px;
        }

        .subtitle {
            font-size: 12px;
            line-height: 17px;
            width: 336px;
        }

        .permissions-list-container {
            width: 368px;
        }

        .permission-item {
            text-align: justify;
            font-size: 12px;
            line-height: 19px;
            font-weight: 400;
            margin-top: 2px;
        }
    }
</style>